[user]
	email = herb@devresults.com
	name = Herb Caudill
[core]
	excludesfile = /Users/herbcaudill/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[advice]
	detachedHead = false
[url "https://github.com/"]
	insteadOf = git@github.com:
[rerere]
	enabled = true
	autoupdate = true
[safe]
	directory = /Users/herbcaudill/*
	directory = /Users/herbcaudill/dotfiles/home/.claude/skills/skill-creator/scripts
	directory = /Users/herbcaudill/dotfiles/home/.claude/skills/skill-creator/scripts
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	directory = /Users/herbcaudill/Code/HerbCaudill/scrabble
	
[credential]
	helper = osxkeychain
