[user]
	email = herb@devresults.com
	name = Herb Caudill
[core]
	excludesfile = /Users/herbcaudill/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[advice]
	detachedHead = false
[url "https://github.com/"]
	insteadOf = git@github.com:
[rerere]
	enabled = true
	autoupdate = true
[safe]
	directory = /Users/herbcaudill/*
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
	directory = /Users/herbcaudill/Code/DevResults/xdev-dxos
	directory = /Users/herbcaudill/dotfiles
