[user]
	email = herb@devresults.com
	name = Herb Caudill
[core]
	excludesfile = /Users/herbcaudill/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[advice]
	detachedHead = false
[url "https://github.com/"]
	insteadOf = git@github.com:
[rerere]
	enabled = true
	autoupdate = true
[credential]
	helper = osxkeychain
